<template>
    <div class="text-center row justify-center" >
        <q-card class=" col-12 row justify-center" >
            <div class="text-h1 col-12" style="padding:50px">
                Política e Termos de Uso
            </div>
            <div class="text-h4 bg-grey-2 col-10" style="margin-bottom:50px">
                <div>
                blablalblalablabaaaaaaaaaaaaaaaaaaalablblablalblalablabaaaaaaaaaaaaaaaaaaalabl <br>
                blablalblalablablabl <br>
                blablalblalablaasdasdasdasfblabl <br>
                blablalblalabsdflablabl <br>
                blablalblalablaasdfasdblabl <br>
                blablalblalafablablabl <br>
                blablalblalasablablabl <br>
                blablalblalabfasfsadlablabl <br>
                blablalblalablablabl <br>
                2222222222222222222 <br>
                blablalblalablablabl <br>
                blablalblaldfablablabl <br>
                blablalblalablablabl <br>
                blablalblalablablabl <br>
                blablalblalasablablabl <br>
                blablalblalablablabl <br>
                blablalblalafasblablabl <br>
                blablalblalablablabl <br>
                1111111111111111111 <br>blablalblalablablabl <br>
                blablalblalafasblablabl <br>
                blablalblalablablabl <br>
                1111111111111111111 <br>blablalblalablablabl <br>
                blablalblalafasblablabl <br>
                blablalblalablablabl <br>
                1111111111111111111 <br>blablalblalablablabl <br>
                blablalblalafasblablabl <br>
                blablalblalablablabl <br>
                1111111111111111111 <br>
                </div>
            </div>
            <q-btn
         size="lg"
         color="purple"
         label="voltar"
         v-close-popup
         class="fixed-bottom col-12"
         style="height:50px"
        />
        </q-card>

    </div>
</template>

<script>

</script>
