// app global css in Sass form
.text
  overflow: hidden
  text-overflow: ellipsis 
  max-height: 90px

.sheet
  .border
    border: 2px solid black
    border-radius: 10px

  .big-field
    text-align: center
    font-size: 40px

  .big-text
    font-size: 30px

  .minor-text
    font-size: 20px

.guild
  .title
    font-size: 70px